/CMakeCache.txt
/CMakeFiles/
/CMakeScripts/
/Debug/
/Release/
/cmake_install.cmake
/pm_common/cmake_install.cmake
/pm_common/portmidi.build/
/pm_java/CMakeFiles/
/pm_java/CMakeScripts/
/pm_java/cmake_install.cmake
/pm_java/pmdefaults.xcodeproj/
/pm_java/pmdefaults/pmdefaults.jar
/pm_java/portmidi.build/
/pm_test/cmake_install.cmake
/pm_test/portmidi.build/
/portmidi.build/
/portmidi.xcodeproj/

