CMakeCache.txt
CMakeFiles/
CMakeScripts/
/portmidi.pc
/x64/
/Debug/
/Release/
/pm_java/pmdefaults/pmdefaults.jar
/pm_java/pmdefaults.sln
/pm_java/pmjni.dir/
/pm_java/x64/
portmidi.build/
cmake_install.cmake
*.xcodeproj/
/.vs/
/portmidi.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user